* {
    margin: 0;
    padding: 0;
}


/* body */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* slider */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-container .slider-img {
    width: 100%;
    position: absolute;
    visibility: hidden;
    clip-path: circle(0% at 0% 50%);
}

.slider-container .slider-img.active {
    visibility: visible;
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.slider-img img {
    width: 100%;
    height: 100vh;
}

.left-arrow,
.right-arrow {
    background-color: #fff;
    padding: 10px;
    font-size: 20px;
    z-index: 999;
    top: 50%;
    /* transform: translateY(-50%); */
    position: absolute;
    color: rebeccapurple;
    cursor: pointer;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.dots {
    position: absolute;
    z-index: 999;
    display: flex;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.dots .dot {
    width: 10px;
    height: 10px;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.dots .dot.active {
    background-color: blueviolet;
}